---
layout: default
---
<link rel="stylesheet" type="text/css" href="style.scss">
<ul class="nav">
  <li class="list"><a href="./index.html" class="listLink">Home</a></li>
  <!-- <li class="list"><a href="./news.html" class="listLink">News</a></li> -->
  <li class="list"><a href="./education.html" class="listLink">Education</a></li>
  <li class="list"><a href="./research.html" class="listLink">Publications</a></li>
  <!-- <li class="list"><a href="./projects.html" class="listLink">Blog</a></li> -->
  <li class="list"><a href="./service.html" class="listLink">Service</a></li>
  <li class="list"><a href="./CV.html" class="listLink">CV</a></li>
  <li class="list"><a href="./contact.html" class="listLink">Contact</a></li>
</ul>

<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }} - Makayla Moster <br> {{page.categories}}</p>

{{ content }}
